body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f0f0f1; /* Fond du menu */
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease;
}

.menu li a:hover {
    color: #8a2be2; /* Violet */
    border-bottom: 2px solid #8a2be2; /* Soulignement */
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333333;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    /* .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px;
    } */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute; /* Modifier de "absolute" à "fixed" */
        top: 25%; /* Afficher le menu en haut de la page */
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .menu.active {
        display: flex;
    }
}
